<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Schedule for {{ person.data.name }}</title>
    <link rel="stylesheet" href="style.css" media="screen">
    <link rel="stylesheet" href="print.css" media="print">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
  </head>
  <body>
    <header>
      <div class="wrapper">
        <span class="schedule">Visit Day Schedule for <b>{{ person.data.name }}</b></span>
      </div>
    </header>

    <div class="wrapper main">

    <!--
    <div style="height:32px; border: thick solid #FC3; margin: 16px auto; background: #EEE; box-shadow: 0 2px 4px rgba(0,0,0,.5);">
        <img src="./alert.svg" style="float:left;padding: 4px 12px 4px  8px;" width="24" height="24">
        <div style="padding: 8px 12px;">All talks and meetings will be in <a href="https://time.is/PT" rel="noopener" target="_blank">Pacific Time</a></div>
    </div>
    -->

    <div style="margin: 32px 8px 32px 32px; height:50px">
      <img src="econ.svg" width="436" height="60" style="float:right;" />
    </div>

%% for day in schedule:
  <h2>{{ day.date }}</h2>

  <table>
    <thead><tr><th><a href="https://time.is/PT" rel="noopener" target="_blank">Pacific Time</a></th><th>Location</th><th>Name</th></tr></thead>
    <tbody>
%%  for timeslot in day.timeslots:
    {% set time_class = "" %}
    {% if timeslot.minute == 0 %}{% set time_class = "hour-start" %}{% endif %}
    {% if timeslot.hour % 2 == 0 and timeslot.minute == 0 %}{% set time_class = "timeblock-start hour-start" %}{% endif %}
%%    if (timeslot.events + timeslot.meetings) | length == 0:
        <tr class="{{time_class}}"><th>{{ timeslot.time }}</th><td></td><td></td></tr>
%%    endif
%%    for event in (timeslot.meetings + timeslot.events):
        <tr class="{% if loop.index == 1 %}{{time_class}}{% endif %}">
## If this is the first event in the timeslot, then print the time
            <th>{% if loop.index == 1 %}{{ timeslot.time }}{% endif %}</th>
%%          if event.is_meeting:
            <td>
              <a href="{{ event.host.custom.zoom_link }}">Zoom Link</a>
            </td>
            <td>
              <b class="meeting">Meeting:</b>
%%              if person.role == "host":
%%                for visitor in event.visitors:
                    <a href="#">{{ visitor.data.name }}</a>
%%                endfor
%%              else:
%%                if event.host.custom.website:
                      <a href="{{event.host.custom.website}}">{{ event.host.data.name }}</a>
%%                else:
                    {{ event.host.data.name }}
%%                endif
## If the meeting is combined, mention that but don't include the name of the other user
                  {% if event.visitors | length > 1 %}(combined meeting){% endif %}
%%               endif
              </td>
%%           else:
              <td><a href="{{ event.location }}">Event Link</a></td>
              <td>{{ event.name }}</td>
%%           endif
          </tr>
%%       endfor
%%     endfor
    </tbody></table>
%% endfor

## Print unsatisfied meeting excuses, if this is the schedule for a student.
%% if (person.role == "visitor") and (unsatisfied_requests | length > 0)
    <h3>Unsatisfied meeting requests:</h3>
    Unfortunately, due to scheduling constraints, we were not able to meet these requests. Feel free to reach out to these faculty members and set up a meeting:
    <ul class='unsat'>
%%  for unsat_person in unsatisfied_requests
      <li><b>{{ unsat_person.data.name }}</b> <a href="mailto:{{ unsat_person.data.email }}"><code>{{ unsat_person.data.email }}</code></a></li>
%%   endfor
    </ul>
%% endif

    </div>

    <footer>
        <div class="visigoth">Visigoth</div>
        <div>Visit Day Scheduler</div>
        <div><a href="https://www.gauravmanek.com/">Gaurav Manek</a></div>
    </footer>

  </body>
</html>
